<h1>My Profile</h1>
<div class="profile-box">
    <img src="{{user.profilePicture}}">
    <div class="profile">
        <div class="info">
            <h3>My Teams</h3>
            {{#if teams}}
                {{#each teams}}
                    <form action="/leaveTeam/{{_id}}" method="POST">
                        <p>{{name}}</p>
                        <input type="submit" value="Leave Team">
                    </form>
                {{/each}}
            {{else}}
                <p>You have no team!</p>
            {{/if}}
        </div>
        <div class="more-info">
            <h3>My Projects</h3>
            {{#if teams}}
                {{#each teams}}
                    {{#if projects}}
                        {{#each projects}}
                            <p>{{name}}</p>
                        {{/each}}
                    {{else}}
                        <p>You have no projects!</p>
                    {{/if}}
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>